/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #6E6E6E;
    background: #141922;
}

h1,
h2,
h3,
h4,
a {
    font-weight: bold;
}

a {
    color: #6E6E6E;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

ul li {
    list-style: none;
}

/* UTILITIES */
.white-text {
    color: #fff;
}

.fz-10 {
    font-size: 10px;
}

/* MAIN CONTEN */
.app-content {
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar,
.gallery {
    overflow-y: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #000;
}

.sidebar-top {
    height: calc(100% - 110px);
    min-height: 400px;
    overflow: auto;
}

.sidebar-top .logo {
    width: 150px;
    margin: 20px 15px 30px;
}

.sidebar-top ul li a img {
    width: 40px;
    padding-right: 10px;
}

.sidebar-top ul li a {
    display: flex;
    align-items: center;
}

.sidebar-top ul li:not(.playlist li):nth-child(3) {
    margin-bottom: 30px;
}

.sidebar-top ul li:not(.playlist li) {
    margin: 0 15px 10px;
}

/* PLAYLIST */
.sidebar-top ul.playlist li {
    margin: 15px 0;
}

.sidebar-top ul.playlist .fa-plus-square {
    font-size: 50px;
    margin-right: 10px;
}

/* ACCOUNT */
.sidebar-bottom {
    margin: 15px;
}

.sidebar-bottom .fa-arrow-alt-circle-down {
    margin-right: 10px;
    margin-bottom: 15px;
}

.sidebar-bottom hr {
    height: 2px;
    background: #6E6E6E;
    border: 1px transparent;
    border-radius: 5px;
}

.sidebar-bottom .account {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}

.sidebar-bottom .account .profile-pic {
    flex-basis: 35px;
    margin-right: 10px;
    background: #bbb;
    border-radius: 50%;
    overflow: hidden;
}

/* GALLERY */
.gallery {
    position: relative;
    width: calc(100% - 230px);
}

.fake-header {
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0, .4);
}

.fake-header button {
    text-transform: uppercase;
    margin: 20px;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}

.gallery .scrollable {
    padding: 80px 15px 0;
    height: 100%;
    overflow-y: auto;
}

/* CONTENT MENU */
.content-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.content-menu ul li {
    margin: 10px;
}

.content-menu ul li:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.horizontal-bar {
    width: 50px;
    height: 4px;
    margin-top: 5px;
    background: greenyellow;
}

/* CONTENT CATEGORY */
.content-category,
.content-category h2 {
    margin-bottom: 30px;
}

.content-category.w-sub h2 {
    margin-bottom: 10px;
}

.content-category.w-sub p {
    margin-bottom: 35px;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
}

.album-list .album {
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.album-list .album.round img {
    border-radius: 50%;
    overflow: hidden;
}

.album-list .album img,
.album-list .album h3 {
    margin-bottom: 15px;
}

/* PLAYER */
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #282828;
}

.player-center {
    flex-basis: 600px;
}

.player-left,
.player-right {
    flex-basis: 230px;
}

/* SONG COVER */
.song-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.song-cover div:first-child {
    display: flex;
    align-items: center;
}

.song-cover div:first-child img {
    width: 50px;
}

.song-cover div:first-child h4,
.song-cover div:first-child p {
    padding-left: 10px;
}

/* COMMANDS */
.commands ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.commands ul li:not(:first-child) {
    margin-left: 15px;
}

.commands ul li .fa-play-circle {
    font-size: 32px;
}

.bar {
    display: flex;
    align-items: center;
}

.bar span:nth-child(2) {
    width: 25%;
    height: 5px;
    margin-left: 15px;
    background: #fff;
    border-radius: 5px;
}

.bar span:nth-child(3) {
    width: 75%;
    height: 5px;
    margin-right: 15px;
    background: #6e6e6e;
    border-radius: 5px;
}

/* VOLUME CONTROL */
.volume {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.volume i {
    margin-right: 10px;
}

.volume span:first-of-type {
    width: 25%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
}

.volume span:last-of-type {
    width: 75%;
    height: 5px;
    background: #6e6e6e;
    border-radius: 5px;
}


/***********************************
MEDIA QUERIES
************************************/

@media screen and (max-width: 1199px) {
    .album-list .album {
        flex-basis: calc(100% / 4 - 15px);
    }
}

@media screen and (max-width: 767px) {
    .album-list .album {
        flex-basis: calc(100% / 2 - 15px);
    }
}