/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #6E6E6E;
    background: #141922;
}

h1,
h2,
h3,
h4,
a {
    font-weight: bold;
}

a {
    color: #6E6E6E;
    text-decoration: none;
    transition: color .3s;
}

img {
    display: block;
    width: 100%;
}

svg {
    fill: currentcolor;
}

ul li {
    list-style: none;
}

/* UTILITIES */
.white-text {
    color: #fff;
}

.fz-10 {
    font-size: 10px;
}

/* MAIN CONTEN */
.app-content {
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar,
.gallery {
    overflow-y: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #000;
}

.sidebar-top {
    height: calc(100% - 110px);
    min-height: 400px;
    overflow: auto;
}

.sidebar-top .small-img {
    display: none;
}

.sidebar-top .logo {
    width: 150px;
    margin: 20px 15px 30px;
}

.sidebar-top ul li a svg {
    width: 40px;
    padding-right: 10px;
}

.sidebar-top ul li a div,
.playlist li a {
    display: flex;
    align-items: center;
}

.sidebar-top ul li:not(.playlist li):nth-child(3) {
    margin-bottom: 30px;
}

.sidebar-top ul:not(.playlist) li {
    padding: 0 10px;
    margin-bottom: 10px;
}

.sidebar-top ul li.vert-bar {
    border-left: 5px solid transparent;
    transition: border-color .3s;
}

/* PLAYLIST */
.sidebar-top ul.playlist li {
    margin: 15px 0;
}

.sidebar-top ul.playlist .fa-plus-square {
    font-size: 50px;
    margin-right: 10px;
}

/* ACCOUNT */
.sidebar-bottom {
    margin: 15px;
}

.sidebar-bottom .fa-arrow-alt-circle-down {
    margin-right: 10px;
    margin-bottom: 15px;
}

.sidebar-bottom hr {
    height: 2px;
    background: #6E6E6E;
    border: 1px transparent;
    border-radius: 5px;
}

.sidebar-bottom .account {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}

.sidebar-bottom .account .profile-pic {
    flex-basis: 35px;
    margin-right: 10px;
    background: #bbb;
    border-radius: 50%;
    overflow: hidden;
}

/* GALLERY */
.gallery {
    position: relative;
    width: calc(100% - 230px);
}

.fake-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: right;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0, .4);
}

.fake-header button {
    text-transform: uppercase;
    margin: 20px;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.gallery .scrollable {
    padding: 80px 15px 0;
    height: 100%;
    overflow-y: auto;
}

/* CONTENT MENU */
.content-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.content-menu ul li {
    margin: 10px;
}

.content-menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.horizontal-bar {
    opacity: 0;
    width: 50px;
    height: 4px;
    margin-top: 5px;
    background: greenyellow;
    transition: opacity .3s;
}

/* CONTENT CATEGORY */
.content-category,
.content-category h2 {
    margin-bottom: 30px;
}

.content-category.w-sub h2 {
    margin-bottom: 10px;
}

.content-category.w-sub p {
    margin-bottom: 35px;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
}

.album-list .album {
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.album-list .album .album-img {
    position: relative;
}

.album-list .album .album-img .layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
    background: rgba(0,0,0, .30);
}

.album-list .album .album-img .layover .fa-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

.album-list .album.round .album-img, 
.album-list .album.round img {
    border-radius: 50%;
    overflow: hidden;
}


.album-list .album:not(.round) img,
.album-list .album h3 {
    margin-bottom: 15px;
}

.album.round h3 {
    margin-top: 15px;
}

/* PLAYER */
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #282828;
}

.player-center {
    flex-basis: 600px;
}

.player-left,
.player-right {
    flex-basis: 230px;
}

/* SONG COVER */
.song-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.song-cover div:first-child {
    display: flex;
    align-items: center;
}

.song-cover div:first-child img {
    width: 50px;
}

.song-cover div:first-child h4,
.song-cover div:first-child p {
    padding-left: 10px;
}

/* COMMANDS */
.commands ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.commands ul li:not(:first-child) {
    margin-left: 15px;
}

.commands ul li .play-button {
    font-size: 32px;
    transition: transform .3s;
}

.bar {
    display: flex;
    align-items: center;
}

.pr-bar {
    position: relative;
    display: flex;
    flex-basis: 560px;
    align-items: center;
    height: 20px;
}

.bar .pr-bar span:first-child {
    width: 25%;
    height: 5px;
    margin-left: 15px;
    background: #fff;
    border-radius: 5px;
    transition: background .3s;
}

.bar .pr-bar span:last-child {
    width: 75%;
    height: 5px;
    margin-right: 15px;
    background: #6e6e6e;
    border-radius: 5px;
}

/* VOLUME CONTROL */
.volume {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.volume i:not(.dot) {
    margin-right: 10px;
}

.volume div:first-child,
.volume .volume-bar {
    display: flex;
    align-items: center;
}

.volume .volume-bar {
    position: relative;
    flex-basis: 130px;
    height: 20px;
}

.volume .volume-bar span:first-child {
    width: 30%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: background .3s;
}

.volume .volume-bar span:last-child {
    width: 70%;
    height: 5px;
    background: #6e6e6e;
    border-radius: 5px;
}

.pr-bar .dot,
.player-right .dot {
    position: absolute;
    left: 25%;
    opacity: 0;
    transition: opacity .3s;
}


/***********************************
MEDIA QUERIES
************************************/

/* DESKTOP VIEW */
@media screen and (max-width: 1199px) {

    /* adjusting width */
    .album-list .album {
        flex-basis: calc(100% / 4 - 15px);
    }
}

/* HIDING FAKE HEADER FOR READABILITY */
@media screen and (max-height: 560px) {
    .fake-header {
        display: none;
    }

    .gallery .scrollable {
        padding-top: 10px;
    }
}

/* SMALL TO TABLET DEVICES */
@media screen and (max-width: 767px) {

    /* adjusting width */
    .album-list .album {
        flex-basis: calc(100% / 2 - 15px);
    }
}

/* XS DEVICE */
@media screen and (max-width: 600px) {

    /* SIDEBAR */
    .sidebar {
        width: 40px;
    }

    /* hiding all content */
    .sidebar-top ul li a div,
    .big-img,
    .pl-title,
    .playlist,
    .sidebar-bottom {
        display: none;
    }

    /* showing small icons */
    .sidebar-top .small-img {
        display: block;
    }

    .sidebar-top ul li a .small-img {
        width: 20px;
        padding-right: 0;
    }

    /* adjusting spacing */
    .sidebar-top .logo {
        width: 30px;
        margin: 20px 5px;
    }

    .sidebar-top ul li.vert-bar {
        border: none;
    }

    /*
     GALLERY
     adjusting width
     */
    .gallery {
        width: calc(100% - 40px);
    }
}

/*******************************
HOVER STATUS
*******************************/

/* SIDEBAR PRIMARY LINKS HOVER */
.sidebar-top ul li.vert-bar:hover {
    border-color: greenyellow;
}

/* ALBUM HOVER */
.album-list .album .album-img .layover:hover {
    opacity: 1;
}

/* LINK HOVER */
a:hover {
    color: #fff;
    fill: #fff;
}

.content-menu ul li:hover .horizontal-bar {
    opacity: 1;
}

/* BUTTON HOVER */
.fake-header button:hover {
    transform: scale(1.10);
}

/* PLAYER HOVER */

/* play button */
.commands ul li .play-button:hover {
    transform: scale(1.10);
}

/* progress and volume bar */
.bar .pr-bar:hover span:first-child,
.volume .volume-bar:hover span:first-child {
    background: greenyellow;
}

/* dot */
.bar .pr-bar:hover .dot,
.volume .volume-bar:hover .dot {
    opacity: 1;
}